.row{

  padding: 5%;
}
.card {
  margin-bottom: 7%;
}
.card-img{
  height: 15em;
}
.card-img-top{
  height: 80%;
  margin: 5% 0% 0% 0%;
    object-fit: contain;
}

.card-title{
  /* height: 35px;
  overflow: hidden;

  transition-property: height;
  transition-duration: 2s;
  transition-timing-function: linear;
  transition-delay: 1s; */
}
/* .card-title-div:hover {
	animation: slide-fwd-top 0.45s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
 
}


@keyframes slide-fwd-top {
  0% {
    transform: translateZ(0) translateY(0);
  }
  100% {
    transform: translateZ(160px) translateY(-200px);
  }
} */